/* ------ Medium devices (991px to 1199px) -----*/
@media (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 45%;
  }
}

/* ------ Medium devices (tablets, 992px and up) -----*/
@media (min-width: 992px) {
}

/* ------ Medium devices (tablets, 991px and down) -----*/
@media (max-width: 991px) {
  main {
    padding-top: 5rem;
  }
  /* ================= Mobile Menu ================ */
  .site_header {
  height: 5rem;
  }
  .mobile_menu {
    width: 28rem;
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    align-content: baseline;
    background: #fff;
    padding: 0 1.5rem;
    box-shadow: 0.2rem 0.6rem 1rem 0.1rem #0000001f;
    transition: 0.25s;
    opacity: 0;
  }

  .site_header.active .mobile_menu {
    left: 0;
    opacity: 1;
  }

  .logo img {
    width: 80%;
    padding: 1rem 0;
  }

  .mobile_menu .hamberger_btn img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(6%) saturate(7500%)
      hue-rotate(350deg) brightness(91%) contrast(105%);
    width: 2rem;
  }

  .mobile_menu_top {
    margin: 1rem 0;
    height: 5rem;
  }

  .menu_links a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #061a48;
    padding: 0.8rem;
    background: transparent;
  }

  .mobile_menu .menu_links {
    border-bottom: 0.1rem solid #bdbdbd;
  }

  .menu_links a img {
    width: 1.3rem;
  }

  .header_main .menu_links a {
    margin: 0;
    padding: 0;
  }

  .header_main .menu_links {
    gap: 2rem;
  }

  /* ================ hero_section ============= */
  .hero_section {
    padding: 4rem 0 5.5rem;
  }
  h1 {
    font-size: 4.2rem;
  }

  .header_content {
    text-align: center;
  }

  .button {
    margin: 0 auto;
  }

  .header_content p {
    padding-top: 2.5rem;
    padding-bottom: 0;
  }

  .header_content .button {
    display: none;
  }

  .hero_section .row {
    gap: 6.5rem;
  }

  h3 {
    font-size: 3.5rem;
  }

  /* =================== Service Section =================== */
  .service {
    width: 50%;
    padding: 1.5rem 1rem;
  }

  .service_section h3 {
    padding-bottom: 2.5rem;
  }

  .service_section {
    padding-bottom: 6rem;
  }

  .service_img img {
    width: 8.5rem;
  }

  .service_img {
    height: 14.7rem;
  }

  h4 {
    font-size: 2rem;
  }

  .sevice_text {
    height: 4rem;
  }

  .service.two img {
    width: 4.5rem;
  }

  .service.three img {
    width: 8rem;
  }

  .service.four img {
    width: 8.2rem;
  }

  .service.five img {
    width: 11rem;
  }

  .service.six img {
    width: 7.6rem;
  }

  .service.seven img {
    width: 8.2rem;
  }

  .services {
    justify-content: flex-start !important;
    padding-bottom: 4.2rem;
  }

  .service_section .container > p {
    font-size: 1.8rem;
  }

  .site_footer .container {
    flex-direction: column;
  }

  /* ===================== cta Section ==================== */

  h2 {
    font-size: 3.5rem;
  }

  .cta_content {
    padding: 4rem 3rem;
    border-radius: 2.5rem;
  }

  .cta_content h2 {
    padding-bottom: 3rem;
    text-align: center;
  }

  /* ===================== Footer Section ==================== */
  .footer_menu {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem 2.5rem;
    margin-bottom: 5.4rem;
  }

  .footer_menu a {
    font-size: 1.6rem;
    line-height: 1;
    margin: 0;
  }
}

/*----- sm devices (tablets, 767px and down) -----*/
@media (max-width: 767px) {
  .button {
    width: 100%;
  }
  /* ===================== Footer Section ==================== */
  .site_footer {
    padding-top: 6rem;
    padding-bottom: 6.6rem;
  }
}

/*----- xs devices (landscape phones, 575px and down) -----*/
@media (max-width: 575px) {
  html {
    font-size: 2.42vw;
  }
}


/*----- xs devices (landscape phones, 280px and down) -----*/
@media (max-width: 280px) {
  .mobile_menu {
    width: 100%;
  }
}
